.spinner {
  animation: Rotate 2.4s both infinite linear;
}
.path {
  animation: DrawLine 1.6s both infinite alternate linear;
  fill: none;
  stroke: var(--main-txt);
  stroke-width: 50;
}
@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes DrawLine {
  0% {
    stroke-dasharray: 0 126;
  }
  100% {
    stroke-dasharray: 126 126;
  }
}

/* spinner by Mikael Ainalem */
