@import "./base.css";
@import "./fonts.css";
@import "./colours.css";
@import "./typography.css";
@import "./forms.css";
@import "./loader.css";


/* ========== Navbar Styling ========== */

Nav {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* CSS Carbon pattern by Atle Mo (design) and Sebastian Grosjean (Code). Source: projects.verous.me */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: 100px;
    width: 100%;
}

.logo__container {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.logo__container a {
    color: var(--alternate-txt);
    font-family: 'Cousine', monospace;

}

.navlinks {
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
}

.navlinks a {
    color: var(--alternate-txt);
    font-size: 2.5rem;
    margin: 0px 10px;
}

#logoutBtn {
    width: auto;
    color: var(--alternate-txt);
    margin: 0px 5px 0px 10px;
    background: transparent;
    border: none;
    font-size: 0.7rem;
    position: absolute;
    right: 5px;
    top: 5px;
}


/* ========== Link Styling ========== */


.post__heading {
    margin: 2rem 0rem;
    font-size: 1.1rem;
    color: var(--main-txt);
}

.post__heading:hover, .post__heading:active {
    transform: scale(1.2);
}



/* ========== Footer Styling ========== */

footer {
    color: var(--alternate-txt);
    /* CSS Carbon pattern by Atle Mo (design) and Sebastian Grosjean (Code). Source: projects.verous.me */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.footer__txt {
    padding: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__links a {
    color: var(--alternate-txt);
    font-size: 25px;
    margin: 5px 10px;;
}

.footer__bottom {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}


/* ========== Media Queries ========= */

@media only screen and (max-width: 768px) {

    .logo__container {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 360px) {

    .logo__container {
        display: none;
    }
}